.head3{
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
	color: black;
  }

  .underline-testimonial{
	width: 20%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    /* top: 226%; */
    left: 40%;
    overflow: hidden;
    margin-top: 7px;
  }

 
  .testi-button{
	text-align: center;
	font-size: 1.5rem;
	font-weight: 600;
	color:blue ;
	margin-top: 2%;

  }
  .underline-testimonial span{
	width: 15px;
	height: 100%;
	background: #fff;
	border-radius: 3px;
	position: absolute;
	top: 0;
	left: 10px;
	animation: moving 2s linear infinite;
  }

.box-dpname h1 {
		padding: 2vh 0 3vh 0;
		color: #434C57;
		line-height: 1.3;
	
		font-size: 3vw;
		font-family: amaticSC;
		letter-spacing: 2px;
		padding-bottom: 30px;
	}
	.section-eight{
		padding: 40px 0 0px 0;
		margin-top: 130px;
		position: relative;
	}
		
		.sec-eight-text-area{
			text-align: center;
			padding: 100px 0 240px;
		}
		.sec-eight-text-area img{
			padding: 2vh 0;
		}
		
		.section-eight .container-pe-quote .pp-quote {
			cursor: pointer;
			position: absolute;
			border-radius: 100%; 
			box-shadow: 0 10px 30px rgba(0,0,0,0.15);
			animation-name: floating;
			-webkit-animation-name: floating;
			animation-iteration-count: infinite;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-timing-function: linear;
			animation-timing-function: linear;
			-webkit-transform-origin: 50% 1px;
			-moz-transform-origin: 50% 1px;
			-ms-transform-origin: 50% 1px;
			-o-transform-origin: 50% 1px;
			transform-origin: 50% 1px;
			opacity: 0;
			-webkit-transition: all 2s ease;
			-moz-transition: all 2s ease;
			-ms-transition: all 2s ease;
			-o-transition: all 2s ease;
			transition: all 2s ease;
		}
		.container-pe-quote .pp-quote img {
			overflow: hidden;
			border-radius: 100%;
			height: 100%;
			width: 100%;	    
			position: relative;
			z-index: 1;
		}
		
		.section-eight .container-pe-quote .li-quote-1 {
			height: 84px;
			width: 84px;
			left: 376px;
			top: 14px;
			animation-duration: 10s;
			-webkit-animation-duration: 10s;
			transition-delay: 0.6s;
			opacity: 1;
			z-index: 1111;
		}
		.section-eight .container-pe-quote .li-quote-2 {
			height: 90px;
			width: 90px;
			right: 319px;
			top: 103px;
			animation-duration: 12s;
			-webkit-animation-duration: 12s;
			transition-delay: 0s;
			opacity: 1;
			z-index: 1111;
		}
		.section-eight .container-pe-quote .li-quote-3 {
			height: 64px;
			width: 64px;
			left: 200px;
			top: 80px;
			animation-duration: 6s;
			-webkit-animation-duration: 6s;
			transition-delay: 0.2s;
			opacity: 1;
			z-index: 1111;
		}
		.section-eight .container-pe-quote .li-quote-4 {
			height: 100px;
		width: 100px;
		left: 308px;
		top: 100px;
		animation-duration: 6s;
		-webkit-animation-duration: 6s;
		transition-delay: 0.2s;
		opacity: 10000;
		z-index: 1111;
		}
		.section-eight .container-pe-quote .li-quote-5 {
			height: 80px;
			width: 80px;
			right: 100px;
			top:0px;
			animation-duration: 6s;
			-webkit-animation-duration: 6s;
			-webkit-transition-delay: 0.2s;
			transition-delay: 0.2s;
			opacity: 10000;
			z-index: 1111;
		}
		.section-eight .container-pe-quote .li-quote-6 {
			height: 80px;
			width: 80px;
			right: 150px;
			top:160px;
			animation-duration: 6s;
			-webkit-animation-duration: 6s;
			-webkit-transition-delay: 0.2s;
			transition-delay: 0.2s;
			opacity: 10000;
			z-index: 1111;
		}
		

	@keyframes floating{

		0% {
			-webkit-transform: rotate(0deg) translate(-10px) rotate(0deg);
			-moz-transform: rotate(0deg) translate(-10px) rotate(0deg);
			-ms-transform: rotate(0deg) translate(-10px) rotate(0deg);
			-o-transform: rotate(0deg) translate(-10px) rotate(0deg);
			transform: rotate(0deg) translate(-10px) rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg) translate(-10px) rotate(-360deg);
			-moz-transform: rotate(360deg) translate(-10px) rotate(-360deg);
			-ms-transform: rotate(360deg) translate(-10px) rotate(-360deg);
			-o-transform: rotate(360deg) translate(-10px) rotate(-360deg);
			transform: rotate(360deg) translate(-10px) rotate(-360deg);
		}

	}
	@-webkit-keyframes floating{

		0% {
			-webkit-transform: rotate(0deg) translate(-10px) rotate(0deg);
			-moz-transform: rotate(0deg) translate(-10px) rotate(0deg);
			-ms-transform: rotate(0deg) translate(-10px) rotate(0deg);
			-o-transform: rotate(0deg) translate(-10px) rotate(0deg);
			transform: rotate(0deg) translate(-10px) rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg) translate(-10px) rotate(-360deg);
			-moz-transform: rotate(360deg) translate(-10px) rotate(-360deg);
			-ms-transform: rotate(360deg) translate(-10px) rotate(-360deg);
			-o-transform: rotate(360deg) translate(-10px) rotate(-360deg);
			transform: rotate(360deg) translate(-10px) rotate(-360deg);
		}

	}

	.section-eight .container-quote {
		position: relative;
	
		margin: auto;
		margin-top: 10px;
		height: 135px;
		-webkit-perspective: 10000px;
		-moz-perspective: 10000px;
		-ms-perspective: 10000px;
		perspective: 10000px;
	}
	.section-eight .container-quote .quote {
		max-width: 520px;

		margin: auto;
	
		position: absolute;
		top: 0px;
		left: 50%;
		cursor: pointer;
		text-align: center;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
		-webkit-transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
		-moz-transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
		-o-transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
		transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
	}
		.section-eight .container-quote .quote.hide-bottom {
			opacity: 0;
			-webkit-transform: translateX(-50%) translateY(100%) rotateX(-70deg);
			-moz-transform: translateX(-50%) translateY(100%) rotateX(-70deg);
			-ms-transform: translateX(-50%) translateY(100%) rotateX(-70deg);
			-o-transform: translateX(-50%) translateY(100%) rotateX(-70deg);
			transform: translateX(-50%) translateY(100%) rotateX(-70deg);
		}
		.section-eight .container-quote .quote.hide-top {
			opacity: 0;
			-webkit-transform: translateX(-50%) translateY(-100%) rotateX(70deg);
			-moz-transform: translateX(-50%) translateY(-100%) rotateX(70deg);
			-ms-transform: translateX(-50%) translateY(-100%) rotateX(70deg);
			-o-transform: translateX(-50%) translateY(-100%) rotateX(70deg);
			transform: translateX(-50%) translateY(-100%) rotateX(70deg);
		}
		.section-eight .container-quote .quote.show {
			opacity: 1;
			-webkit-transform: translateX(-50%) translateY(0%) rotateX(0deg);
			-moz-transform: translateX(-50%) translateY(0%) rotateX(0deg);
			-ms-transform: translateX(-50%) translateY(0%) rotateX(0deg);
			-o-transform: translateX(-50%) translateY(0%) rotateX(0deg);
			transform: translateX(-50%) translateY(0%) rotateX(0deg);
		}


		.section-eight .container-dp-name {
			position: relative;
		
			text-align: center;
		}
		.section-eight .container-dp-name .box-dpname {
			
			height: 100%;

			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			position: absolute;
			top: 0px;
			left: 0;
			cursor: pointer;
			text-align: center;
			-webkit-transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
			-moz-transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
			-o-transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
			transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
		}
		
		.section-eight .container-dp-name .box-dpname.hide-dp-top {
			opacity: 0;
			-webkit-transform: translateX(0%) translateY(-100%) rotateX(70deg);
			-moz-transform: translateX(0%) translateY(-100%) rotateX(70deg);
			-ms-transform: translateX(0%) translateY(-100%) rotateX(70deg);
			-o-transform: translateX(0%) translateY(-100%) rotateX(70deg);
			transform: translateX(0%) translateY(-100%) rotateX(70deg);
		}
		.section-eight .container-dp-name .box-dpname.look {
			opacity: 1;
			-webkit-transform: translateX(0%) translateY(0%) rotateX(0deg);
			-moz-transform: translateX(0%) translateY(0%) rotateX(0deg);
			-ms-transform: translateX(0%) translateY(0%) rotateX(0deg);
			-o-transform: translateX(0%) translateY(0%) rotateX(0deg);
			transform: translateX(0%) translateY(0%) rotateX(0deg);
		}

	@media screen and (max-width:767px){
	.sec-eight-text-area{ 
		padding: 10px 0 10px 0
	}

	.section-eight .container-pe-quote{
		position: relative;
		height: 500px;
		top: 0px;
		z-index: 1;
		max-width: 300px;
		
	}

	.section-eight .container-pe-quote .li-quote-1 {
		height: 64px;
		width: 64px;
		left: 135px;
		top: 361px;

		
	}
	.section-eight .container-pe-quote .li-quote-2 {
		
		height: 60px;
		width: 60px;
		left: 402px;
		top: 393px;

		
	}
	.section-eight .container-pe-quote .li-quote-3 {

		height: 64px;
		width: 64px;
		left: 345px;
		top: 328px;

		
	}
	.section-eight .container-pe-quote .li-quote-4 {
		height: 45px;
		width: 45px;
		right: 116px;
		top: 438px;
		
	}
	.section-eight .container-pe-quote .li-quote-5 {
		
		height: 60px;
		width: 60px;
		right: -149px;
		top: 466px;

		
	}
	.section-eight .container-pe-quote .li-quote-6 {
		height: 50px;
		width: 50px; 
		right: 114px;
		top: 308px;


		
	}
	.box-dpname .text-para{
		padding: 10px;
		width: 90%;
		text-align: justify;
		font-size: 3vw;
	}


	}
	@media screen and (max-width:480px){
	.section-eight{position: relative;}
		.section-eight .bottom-ani-cs{    position: absolute;top: 150px;right: 16px;}	
		.section-eight .container-pe-quote .li-quote-2 {left: 60px;top: 270px;}
		.section-eight .container-pe-quote .li-quote-6 { right: 100px;top: 179px;}
		.section-eight .container-pe-quote .li-quote-8 {height: 43px;width: 43px;left: 0px;top: 220px;}
		.section-eight .container-pe-quote .li-quote-3{left: 0;}
		.section-eight .container-quote{height: 205px;overflow: hidden;overflow-y: auto;}
		.sec-eight-text-area{padding: 10px 0 100px 0;}

		.section-eight .container-pe-quote .li-quote-1 {
			height: 64px;
    width: 64px;
    left: 96px;
    top: 447px;
		
			
		}
		.section-eight .container-pe-quote .li-quote-2 {
			
		
			height: 60px;
			width: 60px;
			left: 327px;
			top: 302px;
		
		
			
		}
		.section-eight .container-pe-quote .li-quote-3 {
		
			height: 64px;
		width: 64px;
		left: 48px;
		top: 328px;
		
			
		}
		.section-eight .container-pe-quote .li-quote-4 {
			height: 45px;
			width: 45px;
			right: 116px;
			top: 438px;
			
		}
		.section-eight .container-pe-quote .li-quote-5 {
			
			height: 60px;
		width: 60px;
		right: -12px;
		top: 466px;
		
			
		}
		.section-eight .container-pe-quote .li-quote-6 {
			height: 50px;
			width: 50px;
			right: 114px;
			top: 308px;
		
		
			
		}
		.box-dpname .text-para{
			padding: 10px;
			width: 90%;
			text-align: justify;
			font-size: 3vw;
		}

		.underline{
			margin-top: -28%;
            width: 43%;
            left: 30%;
		}

		.underline-testimonial{
			left: 25%;
			width: 50%;
		}

		.testi-button{
			margin-top: 10%;
		}

		.section-eight{
			margin-top: -66%;
		}

		
	}

	@media screen and (max-width:1024px){
		.section-eight .container-pe-quote .li-quote-1{
			margin-left: -24%;
		}

		.social-icons{
			margin-left: -13%;
		}
	}

	@media screen and (max-width:376px){
		.section-eight .container-pe-quote .li-quote-2{
			margin-left: -30%;
		}
	}

	@media screen and (max-width: 321px){
		.section-eight .container-pe-quote .li-quote-4{
			margin-left: -20%;
            margin-top: -16%;
		}

		.section-eight .container-pe-quote .li-quote-5{
			margin-left: -20%;
            margin-top: -2%;
		}
	}


