/* Add this CSS to style the dropdown */
.dropdown {
    margin-bottom: 20px;
    color: #FFF;
    border: none;
    outline: none;
    border-radius: 10px;
  }
  
  .dropdown label {
    display: block;
    margin-bottom: 5px;
 
  }
  
  .dropdown select {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #FFF;
    letter-spacing: 1px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #FFF;

  }
  
  /* Rest of your CSS remains the same */
  